*.pyc
*.pth
*.pkl
random_split.json
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\RAP2\dataset_zs_run0.pkl
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\MSPAR\random_split.json
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\COCO14\ml_anno\coco14_train_anno.pkl
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\MSPAR\merged_labels.json
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\RAP\dataset_all.pkl
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\MSPAR\base.pkl
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\COCO14\ml_anno\coco14_val_anno.pkl
downstream_tasks\text_to_image_person_reid\processed_data_singledata_CUHK\train_save.pkl
downstream_tasks\text_to_image_person_reid\processed_data_singledata_ICFG\train_save.pkl
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\MSPAR\dataset_random.pkl
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\MSPAR\dataset_ms_split_2.pkl
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\MSPAR\dataset_ms_split_1.pkl
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\PA100k\dataset_all.pkl
downstream_tasks\text_to_image_person_reid\processed_data_singledata_RSTP\train_save.pkl
downstream_tasks\text_to_image_person_reid\processed_data_singledata_ICFG\test_save.pkl
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\PETA\dataset_all.pkl
downstream_tasks\pedestrian_attribute_recognition\Rethinking_of_PAR\data\PETA\dataset_zs_run0.pkl
*.out

/root/HAP/downstream_tasks/pedestrian_attribute_recognition/Rethinking_of_PAR/data/PA100k
downstream_tasks/pedestrian_attribute_recognition/ckpt_default_pretrain_pose_mae_vit_base_patch16_LUPersonPose_399.pth
downstream_tasks/pedestrian_attribute_recognition/Rethinking_of_PAR/output-attribute/PA100k/default